extends ../layout

block content
    div.detail
        h3 #{PRODUCT.p_name} 상품 자세히 보기
        p= PRODUCT.p_code
        p= PRODUCT.p_item
    table.detail.iolist
        tr
            th 거래일자
            th 거래시각
            th 거래방법
            th 거래처코드
            th 거래처명
            th 대표자
            each item in PRODUCT.IOS 
                tr
                    td= item.io_date 
                    td= item.io_time 
                    td #{item.io_div == "1" ? "매입" : "매출"}
                    td= item.io_dcode 
                    td= item.IO_거래처.d_name
                    td= item.IO_거래처.d_ceo