extends ../layout

block content
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/arrow.css")
    script(src="/js/product.js")

    form.search.products
        input.search#p_search(type="text",value=`${p_search}` name="p_search",placeholder="검색어를 입력 후 Enter")
        input.search#btn_search(type="submit",value="조회")
        input.insert#btn_insert(type="button",value="상품추가")

    table.list.products
        tr
            th 상품코드
                span.p_code 
                    i.arrow
            th 상품이름
                span.p_name 
                    i.arrow
            th 품목
                span.p_item
                    i.arrow
            th 규격
                span.p_std 
                    i.arrow
            th 매입단가
                span.p_iprice 
                    i.arrow
            th 매출단가
                span.p_oprice 
                    i.arrow

        each item in PRODUCTS
            tr(data-pcode=`${item.p_code}`)
                td= item.p_code 
                td= item.p_name 
                td= item.p_item 
                td= item.p_std
                td= item.p_iprice
                td= item.p_oprice

