extends ../layout

block content
    link(rel="stylesheet", href="/css/iolist.css")
    div.iolist.btn_box
        if user 
            a(href="/iolist/insert") 추가
    table.list.iolist
        tr
            th 거래일자
            th 거래시각
            th 상품코드
            th 상품명
            th 거래처코드
            th 거래처명
            th 거래방법
        each item in IOLIST 
            tr
                td= item.io_date 
                td= item.io_time 
                td= item.io_pcode 
                td= item.IO_상품.p_name 
                td= item.io_dcode 
                td= item.IO_거래처.d_name 
                td= item.io_div 